<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header" data-background-color="green">
            <!--i class="material-icons">content_copy</i-->
            <i class="material-icons">explore</i>
        </div>
        <div class="card-content">
            <p class="category"><%= balloon.name %></p>
            <button id="<%= balloon.id %>" type="button" class="btn btn-info ballon">Knal</button>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">update</i> Just Updated
            </div>
        </div>
    </div>
</div>