<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Ballon route</h4>
      <p class="category">De route die de ballon heeft afgelegd</p>
    </div>
    <div class="card-content">
      <div class="mapbox">
        <div id="map">
          <img src="//placehold.it/600x600">
        </div>
        <div id="leg_title">
          <span id="leg_items">Map Legend</span>
        </div>
        <div id="leg">
          <input id="points" type="checkbox" checked="checked" />
          <span id="leg_items">Ballon punten</span>
          <br/>
          <input id="route" type="checkbox" checked="checked" />
          <span id="leg_items">Ballon route</span>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>