<!DOCTYPE html >
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  </script>
  </script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</head>

<body>
  <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script>
  <div id="map"></div>
  <div id="leg_title">
    <span id="leg_items">Map Legend</span>
  </div>
  <div id="leg">
    <input id="points" type="checkbox" checked="checked" />
    <span id="leg_items">Ballon punten</span>
    <br/>
    <input id="route" type="checkbox" checked="checked" />
    <span id="leg_items">Ballon route</span>
    <br/>
  </div>
  <script type="text/javascript">
    var map = L.map('map').setView([52.63275, 4.74386], 14);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    $.getJSON('/map/layers', function (result) {
      $.each(result, function (i, mlayer) {
        $.getJSON('/map/layers/' + mlayer.id, function (data) { addLayer(data, mlayer.id); });
      });
    });

    function addLayer(layer, id) {
      var leaf_layer;
      if (layer.type == "Feature") {
        var geoType = layer.geometry.type;
        // Kijk naar Geometry type en set de juiste layer
        switch (geoType) {
          case 'LineString':
            leaf_layer = L.geoJson(layer);
            leaf_layer.bindPopup(layer.properties.name);
            leaf_layer.addTo(map);
            break;
          case 'MultiPoint':
            leaf_layer = L.geoJson(layer);
            leaf_layer.bindPopup(layer.properties.name);
            leaf_layer.addTo(map);
            break;
          default:
          //do noting for other documents in collection 
        }
      }

      $('#' + id).click(function (e) {

        if (map.hasLayer(leaf_layer)) {
          map.removeLayer(leaf_layer);
        } else {
          map.addLayer(leaf_layer);
        }
      });
    }</script>
</body>

</html>